<header>
    <div class="header logo">
        <h1 class="title">Inventory App</h1>
    </div>
    <div class="header section">
        <a href="#" class="link"><h2 class="text">Sets</h2></a>
        <a href="#" class="link"><h2 class="text">Minifigures</h2></a>
    </div>
</header>