<html>
    <head>
        <title><%=title%></title>
    </head>
    <body>
        <h1><%=title%></h1>
        <form action="addMinifig" method="post">
            <label for="minifigId">Choose a minifig to add:</label>
            <select name="minifigId" id="minifigId" required>
                <%minifigs.forEach(minifig => { %>
                    <option value="<%=minifig.id%>">
                        <%=minifig.name%>
                    </option>
                <% }) %>
            </select>
            <label for="qty">Qty:</label>
            <input type="number" min="1" max="10" name="qty" id="qty" required>
            <button type="submit">Add</button>
        </form>
    </body>
</html>