main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px auto 50px 50px;
    grid-gap: 15px;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.set.list {
    margin: 0px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 25px;
}

.set.list-item {
    list-style: none;
    text-align: center;
    background-color: rgb(255, 78, 78);
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.set.name {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
}

.add-lnk,
.back-lnk {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-lnk {
    margin-bottom: 10px;
}