<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/headerStyles.css">
        <link rel="stylesheet" href="/themes/themeFormStyles.css">
        <link rel="stylesheet" href="/errorStyles.css">
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <h1 class="title"><%= title %></h1>
            <form action="/addTheme" method="post" class="form">
                <label for="theme" class="form label">Theme Name:</label>
                <input type="text" name="theme" id="theme" minlength="1" maxlength="25" required class="form input">
                <button type="submit" class="form bttn">Submit</button>
            </form>
            <%- include('../partials/errors.ejs') %>
            <a href="/" class="back-lnk">Back</a>
        </main>
    </body>
</html>