<html>
    <head>
        <title><%=title%></title>
    </head>
    <body>
        <h1><%=title%></h1>
        <a href="/<%=themeId%>/sets">
            <div>
                <h2>Sets</h2>
            </div>
        </a>
        <a href="/<%=themeId%>/minifigs">
            <div>
                <h2>Minifigures</h2>
            </div>
        </a>
        <a href="/">Back</a>
    </body>
</html>