main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px auto 50px 50px;
    grid-gap: 10px;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.minifigure.list {
    margin: 0px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-auto-rows: 150px;
    grid-gap: 25px;
}

.minifigure.list-item {
    list-style: none;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(255, 231, 152);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.minifigure.item {
    margin-bottom: 10px;
}

.minifigure.name {
    font-size: 1.2rem;
}

.delete-form > button {
    font-size: 1rem;
}

.add-lnk,
.back-lnk {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-lnk {
    margin-bottom: 10px;
}