<html>
    <head>
        <title><%=title%></title>
    </head>
    <body>
        <h1><%=title%></h1>
        <form action="add" method="post">
            <label for="name">Minifig Name:</label>
            <input type="text" name="name" id="name" minlength="1" maxlength="25" pattern="^[A-Za-z0-9-]*$" required>
            <button type="submit">Submit</button>
        </form>
        <a href="/<%=themeId%>/minifigs">Back</a>
    </body>
</html>